# Virtual environment
.env
/venv
venv/
venv
pyvenv.cfg

# Django migrations
*/migrations/__pycache__/
*.py[cod]

# Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Temporary/Backup Files
*.bak
*.swp

# OS files
.DS_Store
Thumbs.db

# Editor/IDE files
.vscode/
.idea/

# Local settings and secrets
settings_local.py
.env

# Optional: Ignore todo.txt if personal
todo.txt
venv/pyvenv.cfg
venv/pyvenv.cfg


#static files
/staticfiles/

